$deliveboo-red: #ff5a5f;
$deliveboo-soft-red: #ff5a60c2;
$deliveboo-light-red: #ff7b7f;
$deliveboo-dark-red: #ee2a4e;
$deliveboo-black: #222;
$deliveboo-soft-black: #262626;
$deliveboo-light-black: #434343;
$deliveboo-white: #fff;
$deliveboo-grey: #515151;
$deliveboo-light-grey: #c3caca;
$deliveboo-dark-grey: #434242;
$deliveboo-blue: #0d6efd;
$deliveboo-orange: #ff9800;
$deliveboo-green: #4caf50;
$deliveboo-bronze: #ec385f;
$deliveboo-silver: #d7d7d7;
$deliveboo-gold: #f0d719;
$deliveboo-dark-gold: #dfbf00;
$deliveboo-fuchsia: #bd4f6c;
$deliveboo-tea:#ddedaa;
$deliveboo-cyan-sponsor: #00ccbc;